.modal-header{
    justify-content: space-between;
}
.my_active{
    color: orange !important;
}
.space-page{
    padding-top: 67px;
}
.input-icon{
    height: 100%;
}
.modal-lg{
    width: 100% !important;
}
.modal-body button{
    margin-top: 10px;
}
.delete-branch{
    color: red;
}
.error-message{
  border-color: red !important;
}
.text-left{
    text-align: left !important;
    align-content: center;
}
.edit{
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 30px;
    margin: 5px;
    /* background-color: #0069d9; */
}
.edit:hover{
    color: blue;
}


h2 {
    font-weight: bold;
    color: #333;
  }


  .preview {
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-top: 15px;
  }

  .upload-btn {
    background-color: #0069d9;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  .upload-btn:hover {
    background-color: #0056b3;
  }


.mybranch{
    background-color: deepskyblue;
    padding: 5px;
    border-radius: 8px;
    border-width: 1px;
}
.mybranch_active, .mybranch:hover{
    background-color: orange;
}
.form_branch{
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    .space-page{
        padding-top: 105px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}