  .avatar{
    width: 120px;
    height: 120px;
  }
  .avatar2{
    width: 72px;
    height: 72px;
    display: block;
  }
  .avatar3{
    width: 100%;
    height: 100%;
    display: block;
  }

    /* Style to hide the default calendar icon */
  .myNewDatelast-period-date::-webkit-calendar-picker-indicator,
  .myNewDate-birth::-webkit-calendar-picker-indicator, 
  .myDatePayment-date::-webkit-calendar-picker-indicator {
    display: none;
  }
